# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tradex
DB_USERNAME=tradex
DB_PASSWORD=tradex_secret_pass

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# JWT Security
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250655368566D5971
JWT_EXPIRATION_MS=86400000

# Application
SPRING_PROFILES_ACTIVE=dev
